/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

/* Coin Manager Styles */
.coin-manager {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.coin-manager h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.coin-manager input, .coin-manager button {
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.coin-manager input {
  width: 180px;
}

.coin-manager button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
}

.coin-manager button:hover {
  background-color: #0056b3;
}

.coin-manager select {
  padding: 10px;
  font-size: 14px;
  width: 200px;
  border-radius: 4px;
}

/* Coin List and Remove Button */
#coinList {
  margin-bottom: 20px;
}

#coinList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#coinList button {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}

#coinList button:hover {
  background-color: #ff4500;
}

/* Charts and Metrics */
.charts {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-bottom: 20px;
}

.card iframe {
  border-radius: 8px;
  width: 100%;
  height: 400px;
}

/* Metrics Section */
.metrics {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.metrics div {
  font-size: 16px;
  margin-bottom: 10px;
}

.metrics span {
  font-weight: bold;
}

#livePrice {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 20px;
  text-align: center;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .charts {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .coin-manager input, .coin-manager button, .coin-manager select {
    width: 100%;
  }

  #livePrice {
    font-size: 20px;
  }
}

